
//variables
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
$numbersButtonColour:rgb(191, 174, 199);
$operators1ButtonColour:orange;
$operators2ButtonColour:grey;
$numberColour:black;
$operators1Colour:white;
$operators2Colour:white;
$fontFamily: 'M PLUS Rounded 1c', sans-serif;
$backgroundColour:rgb(243, 234, 238);
$screenColour: white;
$outputFont: 48px;
$inputFont: 64px;
